In [1]:
import pandas as pd

dictionary = {
    'name': ['vinay','Kushal','Aman'],
    'age' : [22,25,24],
    'occ' : ['engineer','doctor','accountant']
}

df=pd.DataFrame(dictionary)

print(df)

     name  age         occ
0   vinay   22    engineer
1  Kushal   25      doctor
2    Aman   24  accountant